* {
    box-sizing: border-box !important;
    word-wrap: break-word;
    text-decoration: none;
    text-align: center;
  }
  body {
    background: rgb(0, 6, 61);
  }
  .bcontainer {
    width: 60%;
    background: hsla(30, 100%, 50%, 0.5);
    margin: 0px auto 0px auto;
  }
  .bheader {
    /* background: rgba(22, 90, 216, 0.648); */
    background: rgb(18, 26, 93);
    margin: 0px 0px 0px 0px;
    text-align: center;
    box-shadow: 0px 1rem 0.5rem 0px rgb(0, 0, 0) !important;
  }
  .bbtn {
    font-size: 20px;
    color: whitesmoke;
    background: rgb(34, 102, 237);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 14px;
    margin: 15px 0px 15px 0px;
  }
  .bbtn:hover{
    background: rgb(28, 84, 195);
  }
  .bcontent {
    background: rgba(255, 255, 255, 0.74);
    padding: 20px 40px 40px 40px;
    display: flex !important;
    flex-direction: column;
  }
  .bcontent p {
    font-size: 20px;
  }
  .bcontent h3 {
    font-size: 36px;
    margin-top: 20px;
    text-align: center;
  }
  .bcontentitem{
    /* background: rgb(227, 215, 191); */
    padding: 0px 10px 10px 10px;
  }